In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [6]:
file = Path('2017-2021_Spotify_Top_200.csv')

In [7]:
music_df = pd.read_csv(file, encoding="UTF-8")
music_df.head()

C:\Users\Ernest\AppData\Local\Temp\ipykernel_19188\2230606908.py:1: DtypeWarning: Columns (10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  music_df = pd.read_csv(file, encoding="UTF-8")

,Position#Track Name#Artist#Streams#Date#Genre,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,1#Starboy#The Weeknd#3135625#2017-01-01#['cana...,'canadian contemporary r&b','pop'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2#Closer#The Chainsmokers#3015525#2017-01-01#[...,'pop dance','tropical house','edm','electropop','dance pop'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3#Let Me Love You#DJ Snake#2545384#2017-01-01#...,'electronic trap','dance pop','edm','pop dance','pop rap'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4#Rockabye (feat. Sean Paul & Anne-Marie)#Clea...,'uk dance','dance pop','uk funky','tropical house','pop dance','post-teen pop','edm'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5#One Dance#Drake#2259887#2017-01-01#['toronto...,'canadian pop','canadian hip hop','rap','pop rap','hip hop'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
music_df = music_df[["Position#Track Name#Artist#Streams#Date#Genre"]]
music_df

            Position#Track Name#Artist#Streams#Date#Genre
0       1#Starboy#The Weeknd#3135625#2017-01-01#['cana...
1       2#Closer#The Chainsmokers#3015525#2017-01-01#[...
2       3#Let Me Love You#DJ Snake#2545384#2017-01-01#...
3       4#Rockabye (feat. Sean Paul & Anne-Marie)#Clea...
4       5#One Dance#Drake#2259887#2017-01-01#['toronto...
...                                                   ...
321195  196#Best Friend (feat. Doja Cat)#Saweetie#7902...
321196  197#Wonderwall - Remastered#Oasis#789099#2021-...
321197  198#MI FAI IMPAZZIRE#BLANCO#788966#2021-07-17#...
321198  199#Adore You#Harry Styles#788033#2021-07-17#[...
321199  200#Follow You#Imagine Dragons#785417#2021-07-...

[321200 rows x 1 columns]

In [9]:
music_df = music_df['Position#Track Name#Artist#Streams#Date#Genre'].str.split('#', expand=True)

music_df

,0,1,2,3,4,5,6
0,1,Starboy,The Weeknd,3135625,2017-01-01,['canadian pop',None
1,2,Closer,The Chainsmokers,3015525,2017-01-01,['pop',None
2,3,Let Me Love You,DJ Snake,2545384,2017-01-01,['pop',None
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,2017-01-01,['pop',None
4,5,One Dance,Drake,2259887,2017-01-01,['toronto rap',None
...,...,...,...,...,...,...,...
321195,196,Best Friend (feat. Doja Cat),Saweetie,790257,2021-07-17,['trap queen',None
321196,197,Wonderwall - Remastered,Oasis,789099,2021-07-17,['madchester',None
321197,198,MI FAI IMPAZZIRE,BLANCO,788966,2021-07-17,['italian pop',None
321198,199,Adore You,Harry Styles,788033,2021-07-17,['pop',None
321199,200,Follow You,Imagine Dragons,785417,2021-07-17,['modern rock',None

In [10]:
music_df.columns = ["Chart Position", "Song Title", "Artist Name", "Stream Count", "Date", "Genre", "Null"]
music_df = music_df[["Chart Position", "Song Title", "Artist Name", "Stream Count", "Date", "Genre"]]
music_df.head()

,Chart Position,Song Title,Artist Name,Stream Count,Date,Genre
0,1,Starboy,The Weeknd,3135625,2017-01-01,['canadian pop'
1,2,Closer,The Chainsmokers,3015525,2017-01-01,['pop'
2,3,Let Me Love You,DJ Snake,2545384,2017-01-01,['pop'
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,2017-01-01,['pop'
4,5,One Dance,Drake,2259887,2017-01-01,['toronto rap'

In [11]:
music_df[["Year", "Month", "Day"]] = music_df["Date"].str.split('-', expand=True)
music_df.head()

,Chart Position,Song Title,Artist Name,Stream Count,Date,Genre,Year,Month,Day
0,1,Starboy,The Weeknd,3135625,2017-01-01,['canadian pop',2017,01,01
1,2,Closer,The Chainsmokers,3015525,2017-01-01,['pop',2017,01,01
2,3,Let Me Love You,DJ Snake,2545384,2017-01-01,['pop',2017,01,01
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,2017-01-01,['pop',2017,01,01
4,5,One Dance,Drake,2259887,2017-01-01,['toronto rap',2017,01,01

In [12]:
music_df = music_df[["Chart Position", "Song Title", "Artist Name", "Stream Count", "Date", "Genre", "Year"]]
music_df.head()

,Chart Position,Song Title,Artist Name,Stream Count,Date,Genre,Year
0,1,Starboy,The Weeknd,3135625,2017-01-01,['canadian pop',2017
1,2,Closer,The Chainsmokers,3015525,2017-01-01,['pop',2017
2,3,Let Me Love You,DJ Snake,2545384,2017-01-01,['pop',2017
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,2017-01-01,['pop',2017
4,5,One Dance,Drake,2259887,2017-01-01,['toronto rap',2017

In [13]:
music_df["year"] = music_df["Year"].astype("float64")
music_df.dtypes

Chart Position     object
Song Title         object
Artist Name        object
Stream Count       object
Date               object
Genre              object
Year               object
year              float64
dtype: object

In [14]:
music_df = music_df[["Stream Count", "Date", "Genre", "Year"]]
music_df.head()

  Stream Count        Date            Genre  Year
0      3135625  2017-01-01  ['canadian pop'  2017
1      3015525  2017-01-01           ['pop'  2017
2      2545384  2017-01-01           ['pop'  2017
3      2356604  2017-01-01           ['pop'  2017
4      2259887  2017-01-01   ['toronto rap'  2017

In [15]:
music_df = music_df.set_index("Year")
music_df.head()

     Stream Count        Date            Genre
Year
2017      3135625  2017-01-01  ['canadian pop'
2017      3015525  2017-01-01           ['pop'
2017      2545384  2017-01-01           ['pop'
2017      2356604  2017-01-01           ['pop'
2017      2259887  2017-01-01   ['toronto rap'

In [16]:
rows_ = ["2019"]
columns_ = ["Stream Count", "Date", "Genre"]
music_df = music_df.loc[rows_,columns_]
music_df.head()

     Stream Count        Date           Genre
Year
2019      3883836  2019-01-01      ['dfw rap'
2019      3195966  2019-01-01      ['dfw rap'
2019      2777884  2019-01-01  ['trap latino'
2019      2624453  2019-01-01   ['slap house'
2019      2618489  2019-01-01          ['pop'

In [17]:
music_df["Genre"].unique()

array(["['dfw rap'", "['trap latino'", "['slap house'", "['pop'",
       "['puerto rican pop'", "['brostep'", "['argentine hip hop'",
       "['melodic rap'", "['rap'", "['vapor trap'", "['baroque pop'",
       "['atl trap'", "['pop rap'", "['glam rock'", "['toronto rap'",
       "['miami hip hop'", "['pop dance'", "['trap boricua'", "['pop']",
       "['uk dance'", "['dance pop'", "['reggaeton'", "['indie cafe pop'",
       "['uk pop'", "['pop venezolano'", "['emo rap'", "['atl hip hop'",
       "['rap latina'", "['reggaeton colombiano'", "['modern rock'",
       "['sertanejo pop'", "['soul'", "['scandipop'", "['chicago rap'",
       "['folk-pop'", "['latin pop'", "['tropical house'",
       "['lgbtq+ hip hop'", "['funk bh'", "['k-pop']", "['soft rock'",
       "['tennessee hip hop'", '"[\'Sorry\'', "['seattle hip hop'",
       "['forro'", "['forro']", "['big room'", "['talent show'",
       "['funk carioca'", "['latin'", "['mexican pop'",
       "['detroit hip hop'", "['r&b'", "['hip hop'", "['dance rock'",
       "['new romantic'", "['pop urbaine'", "['madchester'", "['disco'",
       "['funk 150 bpm'", "['album rock'", "['german hip hop']",
       "['electropop'", "['hollywood'", "['dutch edm'", "['canadian pop'",
       "['neo mellow'", "['indie cafe pop']", "['hamburg hip hop'",
       "['uk metalcore'", "['italian pop'", "['destroy techno'",
       "['art pop'", "['alt z'", "['conscious hip hop'",
       "['uk alternative pop'", "['rap napoletano'",
       "['albanian hip hop'", "['irish singer-songwriter'",
       "['north carolina hip hop'", "['german dance'", "['frauenrap'",
       "['cali rap'", "['turkish trap pop'", "['alternative pop rock'",
       "['funk pop'", "['trap brasileiro'", "['german drill'",
       "['italian pop']", "['teen pop'", "['pop soul'",
       "['permanent wave'", "['viral pop'", "['urban contemporary'",
       "['stomp and holler'", "['british indie rock'", "['post-teen pop'",
       "['israeli pop']", "['colombian pop'", "['irish pop'",
       "['bass trap'", "['afrofuturism'", "['r&b en espanol'",
       "['panamanian pop']", "['chicago house']", "['k-pop boy group'",
       "['garage rock'", "['urbano espanol'", "['swedish pop'",
       "['trap italiana'", "['contemporary country'", "['trap latino']",
       "['canadian trap'", "['german cloud rap'", "['australian psych'",
       "['reggaeton chileno'", "['lithuanian edm'", "['r&b en espanol']",
       "['neue deutsche harte'", "['k-pop girl group'", "['edm'",
       "['panamanian pop'", "['pop house'", "['chicago rap']",
       "['comedy rap'", "['minnesota hip hop'", "['grime'", "['la pop'",
       "['sad rap']", "['metropopolis'", "['j-pop'",
       "['contemporary country']", "['moombahton'", "['pop rock'",
       "['double drumming'", "['christlicher rap'", "['dutch pop']",
       "['german pop']", "['eurovision'", "['boston hip hop'",
       "['memphis hip hop']", "['musique guadeloupe']",
       "['hawaiian hip hop'", "['italian hip hop']", "['rap conscient'",
       "['ohio hip hop'", "['vapor pop']", "['german hip hop'",
       "['canadian hip hop'", "['australian electropop'",
       "['country rap']", "['queens hip hop'", "['pittsburgh rap'",
       "['pop rap']", "['reggaeton flow']",
       "['canadian contemporary r&b'", "['rock'", "['belgian edm']",
       "['indonesian pop']", "['guaracha'", "['australian pop'",
       "['kids hip hop']", "['turkish hip hop'", "['venezuelan hip hop']",
       "['sertanejo universitario']", "['alternative metal'",
       "['trap queen'", "['alternative r&b'", "['eau claire indie'",
       "['trap triste'", "['trap argentino'", "['uk contemporary r&b'",
       "['melodic dubstep'", "['boy band'", "['sertanejo universitario'",
       "['turkish hip hop']", "['urbano espanol']", "['socal pop punk'",
       "['brega funk'", "['k-rap'", "['funk carioca']",
       "['cancion melodica'", "['cali rap']", "['turkish trap'",
       "['francoton'", "['italian hip hop'", "['baton rouge rap'",
       "['pop argentino'", "['indie pop rap'", "['trap'",
       "['bedroom pop'", "['flamenco urbano'", "['rhode island rap'",
       "['novelty'", "['hard rock'", "['halloween']", "['barbadian pop'",
       "['new wave pop'", "['motown'", "['chill r&b'", "['k-rap']",
       "['jazz pop'", "['adult standards'", "['indie pop'",
       "['musical advocacy']", "['k-pop'", "['beatlesque'",
       "['sophisti-pop'", "['american folk revival'",
       "['classic girl group'", "['rockabilly'", "['soft rock']",
       "['celtic rock'", "['a cappella']", "['torch song'",
       "['brill building pop']", "['ukrainian classical'",
       "['jazz blues'", "['europop']", "['classic canadian rock'",
       "['german pop'", "['cowboy western'", "['girl group'",
       "['heartland rock'", "['country dawn'", "['christian pop'",
       "['jazz trio']", "['modern country rock'", "['new wave pop']"],
      dtype=object)

In [18]:
music_df["Genre"].value_counts()

['pop'                     17332
['melodic rap'              4156
['uk pop'                   3812
['dfw rap'                  3061
['reggaeton colombiano'     2433
                           ...
['indie pop'                   1
['rock'                        1
['novelty'                     1
['halloween']                  1
['new wave pop']               1
Name: Genre, Length: 229, dtype: int64

In [19]:
music_df

     Stream Count        Date                        Genre
Year
2019      3883836  2019-01-01                   ['dfw rap'
2019      3195966  2019-01-01                   ['dfw rap'
2019      2777884  2019-01-01               ['trap latino'
2019      2624453  2019-01-01                ['slap house'
2019      2618489  2019-01-01                       ['pop'
...           ...         ...                          ...
2019       777288  2019-12-31                ['dance rock'
2019       774785  2019-12-31          ['puerto rican pop'
2019       774691  2019-12-31  ['sertanejo universitario']
2019       770892  2019-12-31                      ['trap'
2019       766712  2019-12-31                       ['pop'

[70630 rows x 3 columns]

In [23]:
music_df_pop = music_df['Genre'].str.contains("pop").replace('pop')

music_df_pop

In [28]:
music_df_pop

Year
2019    False
2019    False
2019    False
2019    False
2019     True
        ...
2019    False
2019     True
2019    False
2019    False
2019     True
Name: Genre, Length: 70630, dtype: bool

In [55]:
genre_pop = music_df.groupby(music_df['Genre'].str.contains('pop'))
genre_pop_new = genre_pop.agg('first')
genre_pop_new = genre_pop_new.reset_index()
print(genre_pop_new)

ValueError: cannot insert Genre, already exists

In [32]:
# Create a bar chart 
count_chart = music_df.plot(kind='bar', figsize=(6,8))

# Set the xlabel and ylabel using class methods
count_chart.set_xlabel("Road Type")
count_chart.set_ylabel("Number of Accidents")

plt.show()
plt.tight_layout()

TypeError: no numeric data to plot